.nav {
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: aqua;
}

.heading {
  margin-top: 8px;
  margin-left: 30px;
}

@media screen and (min-width: 701px) {
  .mobnav {
    height: 0;
    overflow: hidden;
    display: none;
  }
  .lapnav {
    display: "block";
  }
}

@media screen and (max-width: 700px) {
  .mobnav {
    display: "block";
  }
  .lapnav {
    height: 0;
    display: "none";
    overflow: hidden;
  }
}
